@{
    ViewBag.Title = "View User Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@ViewBag.FirstName @ViewBag.LastName</p>
<p>@ViewBag.Description</p>
<p>@ViewBag.FutureGoals</p>
<p>@ViewBag.CurrentSkills</p>


<img class="photoForm" src=@ViewBag.ProfileImage />