@model AchieveMaster.Models.EditViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit your account.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p class="text-success">@ViewBag.StatusMessage</p>
<div class="container">
    <div class="form-horizontal col-md-6" role="form">
        <hr />
        @*<dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
            </dl>*@
        <div>
            <h4 class="allbold">Name: &nbsp;&nbsp;&nbsp;&nbsp; @ViewBag.FirstName @ViewBag.LastName</h4>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.FirstName } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.LastName } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.UserId, @Placeholder = "Enter your city name, perfectly." } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HomeLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.HomeLocation, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.HomeLocation, @Placeholder = "Enter your city name, perfectly." } })
                @Html.ValidationMessageFor(model => model.HomeLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextArea("Description", Model.Description, new { @class = "EditTextArea form-control", @Placeholder = "Type in a self description." })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrentSkills, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextArea("CurrentSkills", Model.CurrentSkills, new { @class = "EditTextArea form-control", @Value = @ViewBag.CurrentSkills, @Placeholder = "Type in your current skills." })
                @Html.ValidationMessageFor(model => model.CurrentSkills, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FutureGoals, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextArea("FutureGoals", Model.FutureGoals, new { @class = "EditTextArea form-control", value = @ViewBag.FutureGoals, @Placeholder = "Type in your future goals." })
                @Html.ValidationMessageFor(model => model.FutureGoals, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ProfileImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.ProfileImage, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.ProfileImage, @Placeholder = "Paste in an image URL" } })
                @Html.ValidationMessageFor(model => model.ProfileImage, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.HeaderImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.HeaderImage, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.HeaderImage, @Placeholder = "Paste in an image URL" } })
                    @Html.ValidationMessageFor(model => model.HeaderImage, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>



    <div class="col-md-6">
        <hr />
        <div>
            <p class="allbold">Progile Image</p>
            <img class="photoForm" src=@ViewBag.ProfileImage />
        </div>
        @*<div>
                <p class="allbold">Header Image</p>
                <img class="photoForm" src=@ViewBag.HeaderImage/>
            </div>*@
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    } 
}