@model AchieveMaster.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="container">
    <div class="col-md-6" role="form">
        <hr />
        
        <div>
            <h2><span class="allbold">Name:</span> @ViewBag.FirstName @ViewBag.LastName</h2>
        </div>

        <div>
            <h4><span class="allbold">Home:</span>  @ViewBag.HomeLocation</h4>
        </div>

        <div>
            <h4><span class="allbold">Description:</span>  @ViewBag.Description</h4>
        </div>

        <div>
            <h4><span class="allbold">Current Skills:</span>  @ViewBag.CurrentSkills</h4>
        </div>

        <div>
            <h4><span class="allbold">Future Goals:</span>  @ViewBag.FutureGoals</h4>
        </div>

        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>



    <div class="col-md-6">
        <hr />
        <div>
            <p class="allbold">Progile Image</p>
            <img class="photoForm" src=@ViewBag.ProfileImage />
        </div>
        @*<div>
            <p class="allbold">Header Image</p>
            <img class="photoForm" src=@ViewBag.HeaderImage />
        </div>*@
    </div>

</div>